<div class="graph-menu well well-small" >
    <button class="btn btn-mini backward">
        <i class="icon-arrow-left"></i>
    </button>
    <button class="btn btn-mini forward">
        <i class="icon-arrow-right"></i>
    </button>
    <button class="btn btn-mini zoomin">
        <i class="icon-zoom-in"></i>
    </button>
    <button class="btn btn-mini zoomout">
        <i class="icon-zoom-out"></i>
    </button>
    <button class="btn btn-mini output">
        <i class="icon-download"></i>
    </button>
    <button class="btn btn-mini select">
        <i class="icon-star"></i>
    </button>
    <button class="btn btn-mini remove">
        <i class="icon-remove"></i>
    </button>
    <button class="btn btn-mini export">
        <i class="icon-certificate"></i>
    </button>
    <button class="btn btn-mini upper-up">
        <i class="icon-circle-arrow-up"></i>
    </button>
    <button class="btn btn-mini upper-down">
        <i class="icon-circle-arrow-down"></i>
    </button>
</div>
