<div class="btn-group" >
    <button href="#" class="btn">
        <i class="icon-home" ></i>
    </button>
</div>
<div class="btn-group menu-options">
    <button class="pan-zoom btn" title="Pan and Zoom options">Pan/Zoom</button>
    <button class="timespn btn" title="Timespan options">Timespan</button>
</div>
<div class="btn-group menu-pan-zoom">
    <button class="btn select-all" title="Select All">
        All
    </button>
    <button class="btn select-none" title="Select None">
        None
    </button>
</div>
<div class="btn-group menu-pan-zoom">
    <button class="btn backward">
        <i class="icon-arrow-left"></i>
    </button>
    <button class="btn forward">
        <i class="icon-arrow-right"></i>
    </button>
    <button class="btn zoomin" title="Zoom in">
        <i class="icon-zoom-in"></i>
    </button>
    <button class="btn zoomout" title="Zoom out">
        <i class="icon-zoom-out"></i>
    </button>
</div>
<div class="btn-group menu-pan-zoom">
    <button class="btn clock" disabled>
        <i class="icon-time"></i>
    </button>
    <button title="Hour" class="hour btn" >H</button>
    <button title="Day" class="day btn" >D</button>
    <button title="Week" class="week btn" >W</button>
    <button title="Month" class="month btn" >M</button>
    <button title="Year" class="year btn" >Y</button>
</div>
<form action="" class="btn-group menu-timespn">
    <input placeholder="Start" required type="datetime-local" name="date_from" class="text timespn-from" />
    <input placeholder="End" required type="datetime-local" name="date_to" class="text timespn-to" />
    <button class="btn submit">
        <i class="icon-ok"></i>
    </button>
</form>
