@import url("./menu.css");

.graph {
    margin-top: 20px;
    width: 650px;
    list-style-type: none;
    position: relative;
}
.graph.selected {
    background-color: #F5F5F5;
}
.graph .graph-menu {
    display: none;
}
.graph:hover .graph-menu {
    display: block;
}
